<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>my1</servlet-name>
        <servlet-class>wyp.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my1</servlet-name>
        <url-pattern>/m1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my2</servlet-name>
        <servlet-class>wyp.MyServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my2</servlet-name>
        <url-pattern>/m2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>my3</servlet-name>
        <servlet-class>wyp.MyServlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>my3</servlet-name>
        <url-pattern>/m3</url-pattern>
    </servlet-mapping>

</web-app>